@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	color: #1e40af; 
	background-color: #dbeafe; 
}

.dark ::selection {
	color: #f0f9ff; 
	background-color: #3240688e; 
}

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		@apply text-gray-900 bg-light-bg dark:bg-dark-bg dark:text-gray-100 transition-colors duration-300;
	}
}

@layer components {
	.btn-primary {
		@apply px-7 py-3.5 bg-primary-600 text-white font-bold rounded-xl hover:bg-primary-700 hover:scale-105 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 shadow-lg hover:shadow-xl;
	}

	.btn-secondary {
		@apply px-7 py-3.5 bg-white text-primary-600 font-bold rounded-xl hover:bg-gray-50 border-2 border-primary-600 hover:scale-105 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2;
	}

	.container-custom {
		@apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
	}

	.section-padding {
		@apply py-16 md:py-24;
	}
}
